flat-layout
  .container.m-t-3
    p
      a(href="/students", data-i18n="courses.back_courses")
    div.m-t-2
      h2.text-center
        | {{ $t('courses.challenges') }}
      h1(v-if="classroom").text-center
        | {{ classroom.name }}
      div.assessments-list.m-t-3(v-for="chunk in levelsByCourse" v-if="chunk.assessmentLevels.length && inCourses[chunk.course._id]")
        .row
          .col-xs-5
            span.table-header
              | {{ $dbt(chunk.course, 'name') }}
          .status-column.col-xs-5
            span.table-header
              | {{ $t('courses.status') }}
        student-assessment-row(
          v-for="level in chunk.assessmentLevels",
          :assessment="level.assessment",
          :assessmentPlacement="level.assessmentPlacement",
          :primaryConcept="level.primaryConcept",
          :name="$dbt(level, 'name')",
          :score="sessionMap[level.original] && sessionMap[level.original].topScore",
          :thresholdAchieved="sessionMap[level.original] && sessionMap[level.original].thresholdAchieved",
          :scoreType="level.scoreType",
          :complete="!!(sessionMap[level.original] && sessionMap[level.original].state.complete)",
          :started="!!sessionMap[level.original]",
          :codeConcepts="(sessionMap[level.original] && sessionMap[level.original].codeConcepts) || []",
          :playUrl="playLevelUrlMap[level.original]",
        )
